
:root {
    --primary: #111;
    --secondary: #eaeaea;
    --bg: #ffffff;
    --border: #ffffff;
    --color-bg: #ffffff;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Raleway";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #eaeaea;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-1 {
	background-image: url("https://cdn.glitch.global/00b39c09-bfe4-4f03-bf44-848b52b18068/cpoolc.jpg?v=1708652716659");
}

.image-2 {
	background-image: url("https://cdn.glitch.global/768ee2e3-989d-486c-babe-17a083641e78/hgjhygyu.jpg?v=1708992983195");
}

.image-3 {
	background-image: url("https://cdn.glitch.global/768ee2e3-989d-486c-babe-17a083641e78/hgvhvj.jpg?v=1708993128356");
}

.image-4 {
	background-image: url("https://cdn.glitch.global/768ee2e3-989d-486c-babe-17a083641e78/hvjvjnjbj.jpg?v=1708993173340");
}

section h3.title {
	text-transform: capitalize;
	font: bold 48px "Raleway", sans-serif;
	margin-bottom: 30px;
	text-align: center;
  color: #000000;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 0px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}


header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Raleway", sans-serif;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

h6 {
	text-transform: capitalize;
	font: bold 48px "Raleway", sans-serif;
	margin-bottom: 30px;
	text-align: center;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #2800FF;
}
h1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://cdn.glitch.global/768ee2e3-989d-486c-babe-17a083641e78/bleh.webp?v=1708947767337");
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	font: 72px "Raleway", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}

.hero h3 {
	font: 28px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}
}


.destinations .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.destinations .grid li.small {
	flex-basis: 30%;
}

.destinations .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis: 100%;
	}
}

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: #e07e7b;
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #2800FF;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}


.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}


.instructions {
  margin: 1rem auto 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    border-radius: 20px;
    padding: 50px 0px;
  }
  
  img {
    max-width: 100%;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #fff;
  }
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    background: #000000;
    color: #fff;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
  }
  
  .card__footer {
    display: flex;
    padding-bottom: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }
